.service-area-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.map-container p {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.map-wrapper{
  flex-grow: 1;
  width: clamp(20rem, 100%, 40rem);
  position: relative;
  border: .2rem solid var(--ac-green);
}