.header-container {
  display: flex;
  flex-direction: column;
	justify-content: space-evenly;
	height: 20rem;
}

.header-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo-container img {
	width: 95%;
	margin: auto;
}

.email-container {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.email {
	border: .05rem solid var(--ac-brown);
	border-radius: .25rem;
	padding: 0 1.75rem;
	margin: auto;
	font-family: IMFell-reg;
	font-size: 2rem;
	color: var(--ac-brown);
	text-decoration: none;
}

@media (max-width: 650rem) {
	.header-logo-container img {
		max-width: 60rem;
	}
}