.header-container {
  display: flex;
  flex-direction: column;
	justify-content: space-evenly;
	height: 22rem;
}

.header-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo-container img {
	width: 95%;
	max-width: 80rem;
	margin: auto;
}

.contact-container {
	display: flex;
	height: 5rem;
}

.contact-content {
	padding: .1rem 0;
	width: 45%;
	margin: auto;
	box-shadow: 0 0 .5rem .25rem var(--ac-brown);
	border: .05rem solid var(--ac-brown);
	border-radius: .25rem;
	font-family: IMFell-reg;
	color: var(--ac-brown);
	font-size: 2rem;
	text-align: center;
}

.phone-number {
	text-decoration: none;
}

.contact-content span {
	margin-left: 0.5rem;
}

@media (min-width: 650rem) {
	.header-logo-container img {
		max-width: 60rem;
	}

	.contact-content {
		text-align: center;
		width: 45%;
		box-shadow: 0 0 .5rem .25rem var(--ac-brown);
		font-size: 1.75rem;
	}
}